@charset "utf-8";
*{
    -webkit-overflow-scrolling: touch;
}
body{
    background:#272727;
    color:#bbb;
    font-size:13px;
}
a{
    color:#8ef;
}
a:hover{
    color:#8ef;
}
.w1200{
    width:1200px;
    margin:0 auto;
}
.error{
    background:#a21;
    color:#fff;
    padding:5px;
    margin:5px 0;
}
header{
    position:fixed;
    height:50px;
    background:#242424;
    left:0;
    right:0;
    top:0;
    overflow:hidden;
    zoom:1;
    z-index:1000;
    border-bottom:solid 1px #5bc;
}
header a{
    line-height:50px;
    float:left;
    display:block;
    color:#eee;
    font-weight:100;
    margin-left:15px;
}
header a:hover{
    color:#ccc;
    text-decoration:none;
}
header .logo{
    line-height:50px;
    margin-left:20px;
    font-size:26px;
    letter-spacing:2px;
    color:#ccc;
}
header .search{
    float:left;
    margin-left:30px;
}
header .search .input_keyword{
    background:#333;
    font-size:18px;;
    border:none;
    margin:0;
    height:50px;
    color:#fff;
    line-height:30px;
    width:400px;
    padding:0 20px;
}
header .language .select_language{
    position:absolute;
    right:0px;
    padding:0 20px;
    font-size:18px;
    height:50px;
    line-height:50px;
    letter-spacing:2px;
    background:#242424;
    color:#ccc;
    border:none;
    cursor:pointer;
}
.contents{
    background:#373737;
    color:#ccc;
    padding:20px;
    line-height:1.5rem;
    letter-spacing:0.5px;
    font-size:14px;
    position:relative;
    padding-top:40px;
    min-height: 100vh;
}
.contents h2{
    font-size:1.8rem;
}
.contents h3{
    font-size:1.5rem;
}
.contents .bread{
    margin-bottom:20px;
}
.sidemenu~.contents .bread{
    position:fixed;
    margin-left:270px;
    z-index:1000;
    left:0;
    top:50px;
    height:50px;
    line-height:50px;
    background:#282828;
    width:100%;
    padding:0px 20px;
}
.contents code{
    background:#222;
    color:#ddd;
    font-size:14px;
    padding:5px 10px;
}
.contents .code{
    background:#222;
    color:#ddd;
    font-size:15px;
    padding:15px;
    margin:10px 0px;
    position:relative;
    margin-bottom:30px;
}
.contents .code.on-file{
    padding-top:40px;
}
.contents .code span{
    font-size:16px;
}
.contents .code>code{
    padding:0;
}
.contents .code>code>span{
    display:block;
}
.contents .code.first-none>code>span>span:first-child,
.contents .code.first-none>code>span>span:nth-child(2){
        display:none;
}
.contents .code .filename{
    position:absolute;
    left:0;
    top:0;
    padding:2px 15px;
    background:#157;
}
.contents pre{
    overflow:visible;
}
.contents pre code{
    background:#222;
    color:#ddd;
    display:block;
    padding:10px 20px;
    overflow:auto;
}
.contents pre code span{
    line-height:1rem;
}
.contents pre code span br{
    display:none;
}

header~.contents{
    margin-top:50px;
}
.contents .sub-title{
    padding:10px 0px;
    margin-bottom:20px;
}
.sidemenu~.contents .sub-title{
    padding:50px 30px;
    background:#242424;
    margin:0 -20px;
    margin-bottom:20px;
}

.contents table{
    border:solid 1px #bbb;
}
.contents table tr th,
.contents table tr td{
    border:solid 1px #bbb;
    padding:10px 20px;
}
.contents table tr:nth-child(2n) td{
    background:#424242;
}
.contents hr{
    margin:30px 0;
    border-top:solid 1px #888;
}
.contents h3{
    margin-bottom:20px;
}
.contents h4{
    margin-bottom:20px;
}
.contents h5{
    margin-bottom:20px;
}
.contents input.btn{
    margin:3px 0px;
    display:inline-block;
    height:37px;
    line-height:37px;
    padding:0px 10px;
    vertical-align:top;
    border-radius:0px;
}
input,
select,
textarea{
    outline:none;
}
.contents input:not(.btn){
    background:#282828;
    border:solid 1px #bbb;
    color:#ddd;
    line-height:35px;
    padding:0px 10px;
    margin:3px 0px;
    border-radius:0px;
    vertical-align:top;
    outline:none;
}
.contents input:not(.btn):hover{
    border:solid 1px #2ac;
}
.contents input:not(.btn):focus{
    border:solid 1px #3cf;
}
.contents input.max{
    width:100%;
}
.contents textarea{
    background:#282828;
    border:solid 1px #ccc;
    color:#ddd;
    line-height:1rem;
    height:200px;
    padding:0px 10px;
    margin:3px 0px;
    border-radius:0px;
    vertical-align:top;
}
.contents textarea.max{
    width:100%;
}
.contents select{
    background:#282828;
    display:inline-block;
    border:solid 1px #ccc;
    color:#ddd;
    line-height:35px;
    height:37px;
    padding:0px 10px;
    margin:3px 0px;
    border-radius:0px;
    vertical-align:top;
}
.contents a.anchor{
    display:block;
    margin-bottom:120px;
    margin-top:-70px;
}
footer{
    padding:20px;
    text-align:center;
}
.sidemenu~footer{
    text-align:left;
}
footer ul{
    margin:0;
    padding:0;
    overflow:hidden;
    zoom:1;
}
footer ul li{
    list-style-type:none;
    margin:0;
    padding:0;
}
footer .corporate{
    text-align:center;
}
.sidemenu~footer .corporate{
    text-align:left;
}
footer a{
    color:#bbb;
    display:inline-block;
    margin-left:10px;
    font-size:13px;
}
footer a:first-child{
    margin-left:0;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background:rgba(255,255,255,0.3);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(50,210,200,0.4);
  box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}

.directory{
    background:#222;
    padding:20px 30px;
    margin-bottom:30px;
}
.directory ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
.directory ul li ul li:before{
    content:"L";
    margin-right:10px;
    color:#999;
}
.directory ul li{
    margin:5px 0px;
}
.directory ul ul{
    margin-left:30px;
}


table.form{
    border:none;
    width:100%;
    margin-bottom:30px;
}
table.form tr th,
table.form tr td{
    border:none;
    background:#292929;
}
table.form tr th{
    width:220px;
    text-align:right;
}
table.form tr:nth-child(2n) th,
table.form tr:nth-child(2n) td{
    border:none;
    background:#414141;
}
table.form tr.clear th,
table.form tr.clear td{
    background:none;
}
.contents .info{
    background:rgba(0,200,0,0.2);
    padding:15px 20px;
}

.sidemenu{
    width:270px;
    background:#222;
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    overflow:auto;
}
.sidemenu a.active{
    color:#6ed;
    font-weight:bold;
}
.sidemenu .scroll{
    position:absolute;
    top:50px;
    bottom:0px;
    right:0;
    left:0;
    overflow:auto;
}
.sidemenu ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
.sidemenu ul li{
}
.sidemenu ul li a,
.sidemenu ul li p{
    display:block;
    padding:8px;
    margin:0;
    color:#ccc;
}
.sidemenu ul li ul{
    padding-left:20px;
}
.sidemenu~.contents{
    margin-left:270px;
}
.sidemenu~footer{
    margin-left:270px;
}
.sidemenu::-webkit-scrollbar {
    width: 5px;
}

.sidemenu::-webkit-scrollbar-track {
  border-radius: 10px;
  background:rgba(255,255,255,0.3);
}
.sidemenu::-webkit-scrollbar-thumb {
  background-color: rgba(50,200,255,0.6);
  box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}
.sidemenu .foot{
    border-top:solid 1px #999;
    padding-top:10px;
    margin-top:10px;
}

.innerMap{
    border:solid 1px #999;
    background:#313131;
    padding:20px;
    display:inline-block;
    margin-bottom:20px;
}
.innerMap ul{
    display:block;
}
.innerMap ul,
.innerMap li{
    list-style-type:none;
    margin:0;
    padding:0;
}
.innerMap ul li a{
    color:#ddd;
    display:block;
    margin:5px 0;
}
.innerMap ul li ul{
    margin-left:15px;
}
.innerMap ul li.r1{
    margin-left:20px;
}
.innerMap ul li.r2{
    margin-left:40px;
}
.innerMap ul a._h2{
    font-weight:bold;
}
.innerMap a{
    color:#ddd;
    cursor:pointer;
}
.innerMap a:hover{
    color:#5ef;
}

pre{
    position:relative;
    margin:5px 0;
}
pre *{
    letter-spacing:1px;
    font-weight:100;
}
pre .filename{
    position:absolute;
    background:#179;
    color:#fff;
    padding:1px 15px;
    font-weight:100;
    font-size:15px;
}
.hljs{
    font-size:15px;
    padding:30px;
    line-height:1.7rem;
    margin-bottom:20px;
}
pre .filename+.hljs{
    padding-top:40px;
}
.hljs-comment, .hljs-quote, .hljs-deletion, .hljs-meta{
    color:#6c9;
}
.hljs-comment{
    font-style:normal;
}


@media screen and (max-width:1400px){

    .innerMap{
        right:-350px;
        z-index:1000;
        background:rgba(0,0,0,0.5);
        transition-duration:300ms;
        -webkit-transition-duration:300ms;
    }
    .innerMap.no_transition{
        transition-duration:0ms;
        -webkit-transition-duration:0ms;
    }
    .contents{
        margin-right:0;
    }

}

@media screen and (max-width:1400px){
    .contents{
        font-size:14px;
        line-height:1.6rem;
        letter-spacing:0.2px;
    }
}

.dlist a{
    color:#eee;
}
.dlist ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
.dlist ul li a{
    font-size:15px;
    margin-bottom:10px;
    display:inline-block;
}
.dlist ul li p{
    font-size:15px;

    margin-bottom:10px;
}
.dlist ul li a:before,
.dlist ul li p:before{
    content:":";
    margin-right:10px;
}
.dlist ul li ul{
    margin-left:40px;
}

@media screen and (max-width:900px){
    .input_keyword{
        max-width:220px;
    }
}

@media screen and (max-width:800px){

    .sidemenu{
        left:-300px;
    }
    .sidemenu+.contents{
        margin-left:0;
    }
    .sidemenu~.contents .bread{
        margin-left:0;
    }
    .sidemenu~footer{
        margin-left:0;
    }
}